@import "fonts.scss";
@import "helpers.scss";
@import "transitions.scss";
@import "breakpoints.scss";
@import "colors.scss";
@import "shadows.scss";
@import "buttons.scss";

html {
  overflow: hidden;
}

body {
  position: relative;
  margin: auto !important;
  background-color: white;
  // overflow: hidden;
}

p {
  font-family: "Work Sans";
}

.iaw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: darken($color-green, 20);
  transition: left 1s ease;
}
.iaw--enter {
  left: -100vw;
}
.iaw--exit {
  animation: iaw-exit 1s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes iaw-exit {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
    display: none;
  }
}

.container {
  max-width: 1000px;
  width: 85%;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 100px;
}

.container--narrow {
  max-width: 1200px;
  width: 85%;
  margin: auto;
}

.container--tall {
  min-height: 100vh;
}

.container--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container-heading-1 {
  font-size: 3rem;
  font-family: "Work Sans";
  font-weight: 900;
  margin-bottom: 1rem;
}


// CONTACTS FORM

#contacts-form {

  input, textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdcdc;
    color: black;
    font-size: 1em;
    border-radius: 2px;
    z-index: 1;
  }

  button {
    background-color: $color-green;
    transition-duration: 0.25s;
    width: 100%;

    &:hover {
      background-color: darken($color-green, 5);
    }
  }

}

footer {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 1025px) {
  .container-heading-1 {
    font-size: 5rem;
    margin-bottom: 4rem;
  }

  .container--narrow {
    max-width: 1200px;
    width: 80%;
    margin: auto;
  }

  .container {
    max-width: 1100px;
    width: 60%;
    margin: auto;
    padding-top: 198px;
    padding-bottom: 198px;
  }

  #contacts-form {
    button {
      width: auto;
    }
  }

  footer {
    width: 95%;
    margin: auto;
  }
  
}